<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}" class="pagination-previous">Previous</a>
    {% endif %}
    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}" class="pagination-next">Next page</a>
    {% endif %}
    
    <ul class="pagination-list">
        {% if page.has_previous %}
            <li>
                <a href="?page=1" class="pagination-link" aria-label="Goto page 1">
                    1
                </a>
            </li>
            <li>
                <span class="pagination-ellipsis">
                    &hellip;
                </span>
            </li>
        {% endif %}
        
        <li>
            <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">
                {{ page.number }}
            </a>
        </li>
        {% if page.has_next %}
            <li>
                <span class="pagination-ellipsis">
                    &hellip;
                </span>
            </li>
            <li>
                <a href="?page={{ page.paginator.num_pages }}" class="pagination-link">
                    {{ page.paginator.num_pages }}
                </a>
            </li>
        {% endif %}
    </ul>
</nav>